.app {
  background-color: #f2f2f2;
  padding: 20px;
}

.layout {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.item {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #333;
  border: 1px solid #ddd;
}

.item-a {
  background-color: #ff9800;
}

.item-b {
  background-color: #2196f3;
}

.item-c {
  background-color: #4caf50;
}

.text {
  padding: 10px;
}

.fiels-list {
  list-style-type: none;
  cursor: pointer;
}

.folder {
  cursor: pointer;
}
